<!DOCTYPE html>
<html>
    <%- include('./parts/head.ejs') %>

    <body class="cbp-spmenu-push">
        <div class="main-content">
            <!-- //header-ends -->
            <div id="page-wrapper" style="margin:0">
                <div class="main-page">
                    <nav class="navbar navbar-inverse" style="text-align: center;">
                        <h1 style="font-size: 100px; color: rgb(182, 169, 169) ;margin-top: 20%;">WELCOME</h1>
                        <div class="navbar-header" style="text-align: center; margin: 5% 38%; width: 30%">
                            <h1>
                                <a style="font-size:100px; " class="navbar-brand" href="/login">
                                    <span class="fa fa-shield"></span> SBS<span
                                        class="dashboard_text"
                                        style="font-size:30px;  margin-top: 20px;"
                                        >Secure Banking System</span
                                    ></a
                                >
                            </h1>
                        </div>
                    </nav>
                </div>
            </div>
            <%- include('./parts/footer.ejs') %>
        </div>
        <%- include('./parts/scripts.ejs') %>
    </body>
</html>
