<nav
  class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
>
  <div
    class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center"
  >
    <a class="navbar-brand brand-logo" href="/">
      <img src="assets/images/logo.svg" alt="logo" />
    </a>
    <a class="navbar-brand brand-logo-mini" href="/">
      <img src="assets/images/logo-mini.svg" alt="logo" />
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <ul class="navbar-nav">
      <li
        class="nav-item font-weight-semibold d-none d-lg-block"
        style="font-size: 30px"
      >
        AI - Wind direction predictor simulatior
      </li>
    </ul>
  </div>
</nav>
