<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <!--left-fixed -navigation-->
    <aside class="sidebar-left">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <h1>
                    <a class="navbar-brand" href="home.html"
                        ><span class="fa fa-shield"></span>&nbsp SBS<span class="dashboard_text"
                            >Secure Banking System</span
                        ></a
                    >
                </h1>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="sidebar-menu">
                    <li class="header">&nbsp</li>
                    <li class="treeview">
                        <a href="home.html"> <i class="fa fa-home"></i> <span>Home</span> </a>
                    </li>
                    <li class="treeview">
                        <a href="profile.html"> <i class="fa fa-user"></i> <span>Profile</span> </a>
                    </li>
                    <li class="treeview">
                        <a href="credit.html"> <i class="fa fa-credit-card-alt"></i> <span>Credit</span> </a>
                    </li>
                    <li class="treeview">
                        <a href="log.html"> <i class="fa fa-flag"></i> <span>System log</span> </a>
                    </li>
                    <li class="treeview">
                        <a href="pll.html"> <i class="fa fa-user-secret"></i> <span>PLL</span> </a>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-users"></i>
                            <span>Account</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="internal-acc.html"><i class="fa fa-angle-right"></i> Internal</a>
                            </li>
                            <li>
                                <a href="external-acc.html"><i class="fa fa-angle-right"></i> External</a>
                            </li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-money"></i>
                            <span>Transactions</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="normal-tran.html"><i class="fa fa-angle-right"></i> Normal</a>
                            </li>
                            <li>
                                <a href="crit-trans.html"><i class="fa fa-angle-right"></i> Critical</a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="settings.html"> <i class="fa fa-cogs"></i> <span>Settings</span> </a>
                    </li>
                    <li class="treeview">
                        <a href="login.html"> <i class="fa fa-sign-out"></i> <span>Logout</span> </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </aside>
</div>
